.movie {
    display: flex;
    flex-direction: column;
    margin: 10px;
    justify-content: center;
    overflow: hidden;
    width: 33%;
    img {
        width: 250px;
        height: 400px;
      }
      @media (max-width: 1024px) {
        width: 80%;
      }

      @media (max-width: 768px) {
        width: 100%;
      }
}

