.searchForm {
    margin: 10px;
    text-align: center;
    input[type='text'] {
        width: 20%;
        font-size: 18px;
    }
    input[type='submit'] {
        font-size: 100px;
        margin: 5px;
    }
}